
    <div class="flex-grow"></div>
    <div class="notice p-4 bg-blue-dark text-center text-orange text-sm">
        <p class="mb-0">
            <%= __('footer_notice') %>
        </p>
    </div>
    <footer class="p-4 bg-blue-darker shadow-lg flex flex-wrap justify-between items-center text-sm">
        <p class="mb-0 w-full mb-6 lg:text-left lg:mb-0 lg:flex-1 text-center">
            © 2018 - <a href="https://savetheinternet.info">savetheinternet.info</a> - <a target="_blank" href="https://github.com/savetheinternetinfo/website/blob/develop/LICENSE">CC BY-NC-ND</a>
        </p>
        <nav class="w-full lg:mb-0 lg:flex-1">
            <ul class="list-reset flex flex-wrap justify-around xl:justify-end">
                <li><a class="ml-3 mb-3 md:mb-0 block" href="/gallery"><%= __('gallery_title') %></a></li>
                <li><a class="ml-3 mb-3 md:mb-0 block" href="/about"><%= __('about_title') %></a></li>
                <li><a class="ml-3 mb-3 md:mb-0 block" href="/about-us">About Us</a></li>
                <li><a class="ml-3 mb-3 md:mb-0 block" href="/imprint"><%= __('imprint_link') %></a></li>
                <li><a class="ml-3 mb-3 md:mb-0 block" href="/privacy-policy"><%= __('privacy_link') %></a></li>
                <li><a class="ml-3 mb-3 md:mb-0 block" target="_blank" href="https://github.com/savetheinternetinfo">GitHub</a></li>
            </ul>
        </nav>
    </footer>
    <script type="text/javascript" src="<%= assets['/assets/bundle.js'] %>"></script>
    </body>
</html>