<%- include('layout/header'); -%>
<div class="section container">
    <h1 class="mb-16"><%= __('about_us_heading') %></h1>
    <!-- Who are we -->
    <div class="mb-16">
            <h3 class="font-normal mb-6"><%= __('about_us_1_heading') %></h3>
            <p><%= __('about_us_1_text') %></p>
    </div>

    <!-- What do we want -->
    <div class="mb-16">
            <h3 class="font-normal mb-6"><%= __('about_us_2_heading') %></h3>
            <p><%= __('about_us_2_text') %></p>
    </div>

    <!-- How do we work -->
    <div class="mb-16">
            <h3 class="font-normal mb-6"><%= __('about_us_3_heading') %></h3>
            <p><%= __('about_us_3_text') %>}</p>
    </div>

    <!-- Where can you find us -->
    <div class="mb-16">
            <h3 class="font-normal mb-6"><%= __('about_us_4_heading') %></h3>
            <p><%= __('about_us_4_text') %></p>
    </div>

    <!-- How do we finance ourselves -->
    <div class="mb-16">
            <h3 class="font-normal mb-6"><%= __('about_us_5_heading') %></h3>
            <p><%= __('about_us_5_text') %></p>
    </div>

    <!-- How can you reach us -->
    <div class="mb-16">
            <h3 class="font-normal mb-6"><%= __('about_us_6_heading') %></h3>
            <p><%= __('about_us_6_text') %></p>
    </div>

    <!-- How can I support you -->
    <div class="mb-16">
            <h3 class="font-normal mb-6"><%= __('about_us_7_heading') %></h3>
            <p><%= __('about_us_7_text') %></p>
    </div>

</div>
<%- include('layout/footer'); -%>
