<!DOCTYPE html>
<html
  class="h-full"
  xmlns="http://www.w3.org/1999/html"
  lang="<%= getLocale() %>"
>
  <% String.prototype.capitalize = function(){ return
  this.charAt(0).toUpperCase() + this.slice(1); } %>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% if (currentRoute.replace(/\//g, "") == ""){ %>
    <title>Save the Internet</title>
    <% } else { %>
    <title>
      <%= currentRoute.replace(/\-/g, " ").capitalize() %> | Save the Internet
    </title>
    <% } %>
    <meta name="title" content="Save the Internet" />
    <meta
      name="description"
      content="The Internet is in great danger. We are an organization who has the goal to inform and stop the EU from their biggest mistake. Help us defend the Internet!"
    />

    <!-- Browser Colors -->
    <meta name="msapplication-TileColor" content="#12233f" />
    <meta name="theme-color" content="#12233f" />

    <!-- Cards -->
    <meta itemprop="name" content="Save the Internet" />
    <meta
      itemprop="description"
      content="The Internet is in danger. Learn more about how you can save it."
    />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Save the Internet" />
    <meta
      name="twitter:description"
      content="The Internet is in danger. Learn more about how you can save it."
    />

    <!-- Open Graph -->
    <meta property="og:title" content="Save the Internet" />
    <meta
      property="og:description"
      content="The Internet is in danger. Learn more about how you can save it."
    />
    <meta property="og:site_name" content="Save the Internet" />

    <% languages.forEach((language) => { %> <% if(language != currentLanguage) {
    %>
    <link
      rel="alternate"
      href="<%= `/${currentRoute}?lang=${language}` %>"
      hreflang="<%= language %>"
    />
    <% } %> <% }); %>
    <base href="/" />
  </head>

  <body style="margin:0px; padding: 0px;">
    <script
      type="text/javascript"
      src="<%= assets['/assets/demomap.js'] %>"
    ></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""
    />
    <div>
      <div>
        <div id="demomap"></div>
      </div>
    </div>
  </body>
</html>
