<%- include('layout/header'); -%>
<div class="section container">
    <h1 class="mb-8">
        <%= __('videos_title') %>
    </h1>
    <p>
        <%= __('videos_text') %>
    </p>

    <div class="flex flex-wrap mt-16">
        <div class="w-full lg:w-1/2 p-4">
            <h3 class="mb-8">
                <%= __('videos_title_1') %>
            </h3>
            <p>
                <%= __('videos_text_1') %>
            </p>
            <iframe height="315" class=" w-full mx-auto mt-4" src="https://www.youtube-nocookie.com/embed/SpUoLn0k5v4"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="w-full lg:w-1/2 p-4">
            <h3 class="mb-8">
                <%= __('videos_title_2') %>
            </h3>
            <p>
                <%= __('videos_text_2') %>
            </p>
            <iframe height="315" class=" w-full mx-auto mt-4" src="https://www.youtube-nocookie.com/embed/SpUoLn0k5v4"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="w-full lg:w-1/2 p-4">
            <h3 class="mb-8">
                <%= __('videos_title_3') %>
            </h3>
            <p>
                <%= __('videos_text_3') %>
            </p>
            <iframe height="315" class=" w-full mx-auto mt-4" src="https://www.youtube-nocookie.com/embed/SpUoLn0k5v4"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </div>
</div>
<%- include('layout/footer'); -%>